@use "variables" as *;

// 响应式设计
@media screen and (max-width: $mobile-breakpoint) {
    .site-nav {
        position: absolute;
        top: 9px;
        right: 15px;
        background-color: $background-color;
        border: 1px solid $border-color;
        border-radius: 5px;
        text-align: right;
    }

    .nav-trigger {
        display: block;
        position: absolute;
        clip: rect(0, 0, 0, 0);
    }

    .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;

        > svg {
            fill: #424242;
        }
    }

    .nav-trigger:checked ~ .trigger {
        display: block;
        padding-bottom: 5px;
    }

    .nav-trigger:not(:checked) ~ .trigger {
        display: none;
    }

    .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px;

        &:not(:last-child) {
            margin-right: 0;
        }
    }

    .wrapper {
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .post-title {
        font-size: 32px;
    }

    .footer-col {
        float: none;
        width: -webkit-calc(100% - (30px / 2));
        width: calc(100% - (30px / 2));
    }
}

